[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rubrik-polaris-sdk" = {editable = true, path = "."}

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
requests-mock = "*"

[requires]
python_version = "3.8"

